.montserrat-normal,.montserrat-bold{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
 
.montserrat-normal{
    font-weight: 400;
}

#mainContainer{
    min-height: 84vh; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.contact-container-sub,.contact-container-form{
    width: 50%;
    height: 100%; 
}

.contact-container-sub{
    background-image: url("https://images.pexels.com/photos/3612885/pexels-photo-3612885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    min-height: 84vh;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, .739);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container-sub-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    height: 400px;
    width: 70%;
    border-radius: 15px;
}

.contact-container-sub-information h2,.contact-container-sub-information p{
    color: #fff;
}

.contact-container-sub-information h2{
    text-transform: uppercase;
    font-size: 1.2em;
    text-decoration: underline;
}

.contact-container-sub-information p{
    font-size: 1em;
}

.form { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.form-input,.agreement{ 
    width: 80%; 
    padding: 10px; 
}

.agreement{
    font-size: .9em;
    letter-spacing: 1px;
    color: rgb(100, 100, 100);
}

.agreement input{
    margin-right: 10px;
}

.form-button { 
    padding: 10px 15px;
    width: 8rem;
    background-color: #007bff; 
    color: white; 
    border: none;
    letter-spacing: 1px; 
    cursor: pointer; 
}

.form-button:hover { 
    background-color: #0056b3; 
}

#errorMessagesContainer {
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    z-index: 1000; 
}

.error-message {
    background-color: rgb(255, 123, 16);
    color: white;
    font-size: .8em;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 5px; 
    transition: opacity 0.5s ease-in-out;
    opacity: 1; 
  }
  
  .error-message.hide {
    opacity: 0; 
    visibility: hidden;
  }
  
  .error-message:hover{
    cursor: pointer;
  }

  .error {
    border: 2px solid red;
  }

@media only screen and (max-width: 1000px) {
    #mainContainer{
        flex-direction: column;
    }
    .contact-container-sub{
        width: 100%;
    }
    .contact-container-sub-information{
        min-width: 360px;
        padding: 20px 40px;
        width: 100%;
        border-radius: 0;
    }
    .contact-container-form{
        width: 100%;
        padding: 3rem 0;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
