.container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 84vh;
}

h1 {
    text-align: center;
}

.habit-form {
    margin-bottom: 20px;
}

.habit-form input {
    margin-right: 10px;
    padding: 8px;
    width: 200px;
}

.habit-form button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.habit-form button:hover {
    background-color: #0056b3;
}

.habit-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.statistics-item {
    margin-top: 20px;
}

.statistics-item h2 {
    margin-bottom: 10px;
}
