.montserrat-normal,.montserrat-bold{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
 
.montserrat-normal{
    font-weight: 400;
}

.montserrat-bold{
    font-weight: 600;
    letter-spacing: 1px;
}

#mainContainer {
    min-height: 84vh;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    position: relative;
    z-index: 0;
}

.no-habits-message {
    text-align: center;
    margin-top: 20px; 
    color: #666;
    font-size: 1.5em; 
}

.link{
    color: rgb(100, 100, 255);
    text-decoration: underline;
}

.link:hover{
    color: rgb(217, 23, 23);
}

#habitContainer {
    position: relative;
    z-index: 0;
    display: flex;
    max-width: 1000px;
    width: 100%;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    border-radius: 10px;
    overflow: hidden;
    background: palegoldenrod;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: palegoldenrod;
    border: none;
}

.close-button:hover {
    color: #ff0000;
}

.habit-container{
    display: flex;
}

.habit-card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.habit-progress{
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.habit-monthly,.habit-weekly{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.progress-estadistics-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.progress-bar-container {
    width: 90%;
    height: 20px;
    background-color: #e8baba;
}
  
.progress-bar {
    height: 20px;
    background-color: #ff7300;
    transition: width 0.5s ease-in-out;
}

.porcentage{
    font-size: 1.2em;
}

.habit-container-notifications{
    display: flex;
    padding: 20px;
    gap: 15px;
}

.habit-container-notifications-dates{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.habit-container-notifications-phrase{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.habit-container-notifications-phrase p{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
}

@media (max-width: 768px){
  
    .habit-container {
      flex-direction: column;
    }

    .habit-card{
        align-items: center;
        gap: 15px;
    }
  
    .progress-bar-container {
      width: 100%;
      height: 1rem;
    }

    .progress-bar{
      height: 1rem; 
    }

    .habit-container-notifications-dates{
        gap:15px;
    }
}
  
@media (max-width: 480px) {
    #mainContainer {
      padding: 10px;
    }
  
    .habit-card, .habit-progress {
      padding: 20px;
    }
}